$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-2xl: 3rem;
$text-3xl: 4rem;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$c1: #189A46;
$c2: #f53626;
$c3: #000c04;
$c4: #696969;



$cw: #FFFFFF;
$cb: #000000;